VirtualMart_Agent/App_WebReferences/BankServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deposit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="depositResponse">
        <s:complexType />
      </s:element>
      <s:element name="trasnfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromacno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toacno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="trasnferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trasnferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkbalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkbalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkbalanceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checktransactionstatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checktransactionstatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checktransactionstatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="depositSoapIn">
    <wsdl:part name="parameters" element="tns:deposit" />
  </wsdl:message>
  <wsdl:message name="depositSoapOut">
    <wsdl:part name="parameters" element="tns:depositResponse" />
  </wsdl:message>
  <wsdl:message name="trasnferSoapIn">
    <wsdl:part name="parameters" element="tns:trasnfer" />
  </wsdl:message>
  <wsdl:message name="trasnferSoapOut">
    <wsdl:part name="parameters" element="tns:trasnferResponse" />
  </wsdl:message>
  <wsdl:message name="checkbalanceSoapIn">
    <wsdl:part name="parameters" element="tns:checkbalance" />
  </wsdl:message>
  <wsdl:message name="checkbalanceSoapOut">
    <wsdl:part name="parameters" element="tns:checkbalanceResponse" />
  </wsdl:message>
  <wsdl:message name="checktransactionstatusSoapIn">
    <wsdl:part name="parameters" element="tns:checktransactionstatus" />
  </wsdl:message>
  <wsdl:message name="checktransactionstatusSoapOut">
    <wsdl:part name="parameters" element="tns:checktransactionstatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deposit">
      <wsdl:input message="tns:depositSoapIn" />
      <wsdl:output message="tns:depositSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="trasnfer">
      <wsdl:input message="tns:trasnferSoapIn" />
      <wsdl:output message="tns:trasnferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkbalance">
      <wsdl:input message="tns:checkbalanceSoapIn" />
      <wsdl:output message="tns:checkbalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checktransactionstatus">
      <wsdl:input message="tns:checktransactionstatusSoapIn" />
      <wsdl:output message="tns:checktransactionstatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deposit">
      <soap:operation soapAction="http://tempuri.org/deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trasnfer">
      <soap:operation soapAction="http://tempuri.org/trasnfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkbalance">
      <soap:operation soapAction="http://tempuri.org/checkbalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checktransactionstatus">
      <soap:operation soapAction="http://tempuri.org/checktransactionstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deposit">
      <soap12:operation soapAction="http://tempuri.org/deposit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trasnfer">
      <soap12:operation soapAction="http://tempuri.org/trasnfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkbalance">
      <soap12:operation soapAction="http://tempuri.org/checkbalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checktransactionstatus">
      <soap12:operation soapAction="http://tempuri.org/checktransactionstatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:56148/BankWS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:56148/BankWS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>