VirtualMart_Agent/App_WebReferences/AirlineServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFrom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFromResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFromResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getToResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTotalPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookingid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTotalPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTotalPriceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCostPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="seat_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCostPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCostPriceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="booking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="route_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="no_of_seat" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="seat_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trip_type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ticket_price" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="total_price" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookingid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cancelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getFromSoapIn">
    <wsdl:part name="parameters" element="tns:getFrom" />
  </wsdl:message>
  <wsdl:message name="getFromSoapOut">
    <wsdl:part name="parameters" element="tns:getFromResponse" />
  </wsdl:message>
  <wsdl:message name="getToSoapIn">
    <wsdl:part name="parameters" element="tns:getTo" />
  </wsdl:message>
  <wsdl:message name="getToSoapOut">
    <wsdl:part name="parameters" element="tns:getToResponse" />
  </wsdl:message>
  <wsdl:message name="getTotalPriceSoapIn">
    <wsdl:part name="parameters" element="tns:getTotalPrice" />
  </wsdl:message>
  <wsdl:message name="getTotalPriceSoapOut">
    <wsdl:part name="parameters" element="tns:getTotalPriceResponse" />
  </wsdl:message>
  <wsdl:message name="getCostPriceSoapIn">
    <wsdl:part name="parameters" element="tns:getCostPrice" />
  </wsdl:message>
  <wsdl:message name="getCostPriceSoapOut">
    <wsdl:part name="parameters" element="tns:getCostPriceResponse" />
  </wsdl:message>
  <wsdl:message name="bookingSoapIn">
    <wsdl:part name="parameters" element="tns:booking" />
  </wsdl:message>
  <wsdl:message name="bookingSoapOut">
    <wsdl:part name="parameters" element="tns:bookingResponse" />
  </wsdl:message>
  <wsdl:message name="cancelSoapIn">
    <wsdl:part name="parameters" element="tns:cancel" />
  </wsdl:message>
  <wsdl:message name="cancelSoapOut">
    <wsdl:part name="parameters" element="tns:cancelResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFrom">
      <wsdl:input message="tns:getFromSoapIn" />
      <wsdl:output message="tns:getFromSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTo">
      <wsdl:input message="tns:getToSoapIn" />
      <wsdl:output message="tns:getToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTotalPrice">
      <wsdl:input message="tns:getTotalPriceSoapIn" />
      <wsdl:output message="tns:getTotalPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCostPrice">
      <wsdl:input message="tns:getCostPriceSoapIn" />
      <wsdl:output message="tns:getCostPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="booking">
      <wsdl:input message="tns:bookingSoapIn" />
      <wsdl:output message="tns:bookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <wsdl:input message="tns:cancelSoapIn" />
      <wsdl:output message="tns:cancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFrom">
      <soap:operation soapAction="http://tempuri.org/getFrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTo">
      <soap:operation soapAction="http://tempuri.org/getTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalPrice">
      <soap:operation soapAction="http://tempuri.org/getTotalPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCostPrice">
      <soap:operation soapAction="http://tempuri.org/getCostPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="booking">
      <soap:operation soapAction="http://tempuri.org/booking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="http://tempuri.org/cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFrom">
      <soap12:operation soapAction="http://tempuri.org/getFrom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTo">
      <soap12:operation soapAction="http://tempuri.org/getTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTotalPrice">
      <soap12:operation soapAction="http://tempuri.org/getTotalPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCostPrice">
      <soap12:operation soapAction="http://tempuri.org/getCostPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="booking">
      <soap12:operation soapAction="http://tempuri.org/booking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap12:operation soapAction="http://tempuri.org/cancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:56145/AirlineWS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:56145/AirlineWS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>